@using Corno.Web.Globals
@using Kendo.Mvc.UI
@model Corno.Web.Areas.Masters.Dtos.Location.LocationUserDto

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(m => m.UserId, "User", new { @class = "col-sm-4" })
    <div class="col-sm-10">
        @(Html.Kendo().MultiColumnComboBoxFor(m => m.UserId)
            .DataTextField(FieldConstants.UserName)
            .DataValueField(FieldConstants.Id)
            .HtmlAttributes(new { @class = "w-100" })
            .Filter("contains")
            .Placeholder("Select User ...")
            .Suggest(true)
            .Columns(columns =>
            {
                //columns.Add().Field(FieldConstants.Code).Title(FieldConstants.Code).Width("250px");
                columns.Add().Field(FieldConstants.Name).Title(FieldConstants.Name).Width("300px");
            })
            //.BindTo(miscMaster.GetViewModelList(m => m.MiscType == MiscMasterConstants.Unit))
            .DataSource(source =>
            {
                source.Read(read => { read.Action("GetUsers", "Data", new { area = "", miscType = MiscMasterConstants.PackingType }); })
                    .ServerFiltering(false);
            }))
    </div>
</div>
