@using Corno.Web.Helper
@using Kendo.Mvc.UI
@model Corno.Web.Areas.DemoProject.Dtos.LabelCrudDto

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@{
    ViewBag.BoxTitle = "Create Label";
    ViewBag.SubmitAction = "Create";
}

@{
    ViewBag.MainMenu = "DemoProject";
    ViewBag.MainHeader = "Label";
    ViewBag.CurrentSitemap = "Label";
    ViewBag.Title = "Label";
    ViewBag.Area = "DemoProject";
    ViewBag.Controller = "Label";
}

@section sectionBaseHeader
{
    <div class="k-actions k-actions-horizontal k-actions-end">
        @Html.Partial("~/Views/Shared/Buttons/_BackButton")
    </div>
}

@section sectionBaseFooter
{
    <div class="k-actions k-actions-horizontal k-actions-end">
        @Html.Partial("~/Views/Shared/Buttons/_SaveButton", new { HtmlAttributes = new { name = "action:Create" } })
    </div>
}

@Html.Partial("_Label", Model)

