@using Corno.Web.Areas.DemoProject.Dtos
@using Corno.Web.Globals
@using Kendo.Mvc.UI
@using Corno.Web.Helper

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";

    ViewBag.Controller = "DemoProject";
}

<div class="grid-container-full-height">
    @(Html.Kendo().Grid<LabelCrudDto>()
        .Name("grid")
        .ApplyIndexSettings(customToolbar: toolbar =>
        {
            toolbar.Custom()
                .Text("<span class='k-icon k-i-plus'></span> Add New")
                .HtmlAttributes(new { @class = "k-grid-add-new k-button-add-new-outlined", style = "float: right;", onclick = "onAddNewClick(event); return false;" });
        }) // 👈 Apply index settings (full height, responsive)
        .Events(events => {
            events.ApplyCommonEvents();
            events.DataBound("onDataBound");
        })
    .Columns(columns =>
    {
        columns.Bound(m => m.Id)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .HtmlAttributes(new { style = "text-align: center" })
            .Title("Id")
            .Hidden(true);
        columns.Bound(m => m.LabelDate).Title("Date")
            .HtmlAttributes(new { style = "text-align: center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Format("{0:dd/MM/yyyy}");
        columns.Bound(m => m.ItemName)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .HtmlAttributes(new { style = "text-align: left" })
            .Title("Item");
        columns.Bound(m => m.Weight)
            .HtmlAttributes(new { style = "text-align: center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" });
        columns.Bound(m => m.Mrp)
            .HtmlAttributes(new { style = "text-align: center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("MRP");
        columns.Bound(m => m.ExpiryDate)
            .Title("Exp. Date")
            .HtmlAttributes(new { style = "text-align: center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Format("{0:dd/MM/yyyy}");
        columns.Bound(m => m.ManufacturingDate)
            .Title("Mfg. Date")
            .HtmlAttributes(new { style = "text-align: center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Format("{0:dd/MM/yyyy}");
        columns.Bound(m => m.Status)
            .HtmlAttributes(new { style = "text-align: center" })
            .ClientTemplate(
                "<span class='badge' style='background-color: " +
                "# if (Status == \"Active\") { #" +
                "Black" +
                "# } else if (Status == \"Accepted\") { #" +
                "blue" +
                "# } else if (Status == \"Packed\") { #" +
                "Green" +
                "# } else if (Status == \"Sorted\") { #" +
                "Blue" +
                "# } else if (Status == \"SubAssembled\") { #" +
                "Brown" +
                "# } else if (Status == \"Bent\") { #" +
                "Tan" +
                "# } else { #" +
                "transparent" +
                "# } #" +
                "; color: " +
                "# if (Status == \"Active\" || Status == \"Accepted\" ||  Status == \"Packed\" ||  Status == \"Sorted\" || Status == \"SubAssembled\") { #" +
                "white" +
                "# } else { #" +
                "black" +
                "# } #" +
                "; text-align: center; display: inline-block;'>" +
                "#= Status #</span>"
            )
            .HtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" });
        columns.Command(command =>
        {
            // Show only if Status is "Active";
            command.Custom("View").Text(" ").IconClass("k-icon k-i-preview k-i-eye")
                .HtmlAttributes(new { @class = "k-grid-view k-text-center !k-justify-content-center" })
                .Click("onViewClick");
        })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .HtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Width(10)
            .Title("Actions"); // Add a class to identify the command column;

        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetIndexViewModels", "Label"))
            .Sort(s => s.Add(FieldConstants.LabelDate).Descending())
            .Model(model => model.Id(FieldConstants.Id))
        ))
</div>


<script type="text/javascript">

    function onViewClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id; // Assuming 'Id' is the field name
        window.location.href = '@Url.Action("View", "Label")' + '?id=' + id;
    }

    function onDataBound(e) {
        var grid = this;
        grid.columns.forEach(function (column, index) {
            grid.autoFitColumn(index);
        });
    }

    function onAddNewClick(e) {
        e.preventDefault();
        window.location.href = '@Url.Action("Create", "Label", new { area = "DemoProject" })';
    }
</script>