@using Corno.Globals.Constants
@using Corno.Patterns.Extensions
@using Corno.Concept.Portal.Helper
@using Kendo.Mvc.UI
@model Corno.Concept.Portal.Areas.Admin.Dto.SqlQuory.SqlQuoryDto

@{
    var action = ViewBag.Action as string;
}

<div class="form-group row">
    <div class="col-10">
        @(Html.Kendo().TextAreaFor(m => m.SqlQuory)
            .Rows(5)
            .Label(l => l.Content("Sql quory type here...").Floating(true))
            .HtmlAttributes(new
            {
                style = "width: 100% !important; max-width: 1400px !important;col-form-label"

            }))
    </div>
</div>

<div class="k-actions k-actions-horizontal k-actions-end">
    @(Html.Kendo().Button()
        .Name("submit")
        .Content("Submit")
        .ApplyStandardSettingsWithType(ButtonType.Save, "save", ComponentSize.Medium)
        .HtmlAttributes(new
        {
            type = "submit",
            //name = "action:Create"
            style = "height:36px"
        }))
</div>

<script>
    function onBackToList() {
        window.location.href = '/Masters/SqlQuory/Index';
    }

</script>