@using Corno.Web.Globals
@using Kendo.Mvc.UI
@model Corno.Web.Areas.Kitchen.Dto.Label.PartLabelCrudDto

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    
    // Page-level metadata
    ViewBag.BoxTitle = "Create New Part Label";
    ViewBag.SubmitAction = "Create";
    ViewBag.MainMenu = "Transaction";
    ViewBag.MainHeader = "Part Label";
    ViewBag.CurrentSitemap = "Part Label";
    ViewBag.Title = "Part Label";
    ViewBag.Area = "Kitchen";
    ViewBag.Controller = "Label";
    ViewBag.Index = "Index";
    
    // Form-specific configuration - Label controller has different action names
    ViewBag.GetItemsAction = "GetPartLabelItems";
    ViewBag.PrintAction = "PrintPartLabel";
    ViewBag.PreviewAction = "PreviewPartLabel";
    ViewBag.PrintPath = "/Label/PrintPartLabel";
    ViewBag.PreviewPath = "/Label/PreviewPartLabel";
}

@section sectionBaseFooter
{
    <div class="k-actions k-actions-horizontal k-actions-end">
        @(Html.Kendo().Button()
            .Name("btnBack")
            .Content("Back")
            .ApplyStandardSettingsWithType(ButtonType.Info, "arrow-60-left", ComponentSize.Medium)
            .HtmlAttributes(new { onclick = $"window.location.href='{Url.Action("Index", "Label", new { area = "Kitchen" })}'; return false;" }))
        @(Html.Kendo().Button()
            .Name("preview")
            .Content("Preview")
            .ApplyStandardSettingsWithType(ButtonType.Info, "preview", ComponentSize.Medium)
            .Events(e => e.Click("onPreview")))
        @(Html.Kendo().Button()
            .Name("print")
            .Content("Print")
            .ApplyStandardSettingsWithType(ButtonType.Primary, "print", ComponentSize.Medium)
            .Events(e => e.Click("onPrint")))
    </div>
}

@Html.Partial("~/Areas/Kitchen/Views/Shared/_PartLabel.cshtml", Model)

