@using Corno.Web.Areas.Kitchen.Dto.Label
@using Corno.Web.Globals
@using Corno.Web.Globals.Enums
@using Corno.Web.Helper
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.BoxTitle = "Store Shirwal";
    ViewBag.ControllerName = "StoreShirwal";
    ViewBag.ViewAction = "View";
    ViewBag.DataSourceAction = "GetIndexViewDto";
    ViewBag.ShowAddNewButton = true;
    ViewBag.BarcodeColumnLink = true;
    ViewBag.WarehouseOrderColumnLink = true;
    ViewBag.GroupByWarehouseOrder = false;
    ViewBag.LabelType = nameof(LabelType.StoreShirwal);
}

<div class="grid-container-full-height">
    @Html.Partial("~/Areas/Kitchen/Views/Shared/_LabelIndex.cshtml")
</div>
