USE [Godrej.New.Kitchen]
GO
/****** Object:  StoredProcedure [dbo].[GetScanningRplWiseReport]    Script Date: 12/10/2025 7:40:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[GetScanningRplWiseReport]
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SELECT DISTINCT
        c.WarehouseOrderNo,
        c.PackingDate,
        pid.[Group] AS Family,
        ISNULL(c.CartonNo, 0) AS CartonNo,
        u.UserName
    FROM Carton c
    --INNER JOIN CartonRackingDetail cr ON c.Id = cr.CartonId AND cr.Status = 'Packed'
    LEFT JOIN [Plan] p ON c.WarehouseOrderNo = p.WarehouseOrderNo
    LEFT JOIN PlanItemDetail pid ON pid.PlanId = p.Id AND pid.Position = (
        SELECT TOP 1 Position FROM CartonDetail WHERE CartonId = c.Id
    )
    LEFT JOIN AspNetUsers u ON c.ModifiedBy = u.Id
    WHERE CAST(c.PackingDate AS DATE) BETWEEN @FromDate AND @ToDate AND c.Status IN ('Dispatch', 'Packed', 'Pallet In', 'Rack In','Rack Out') 
END
