@using Corno.Web.Areas.BoardStore.Models
@using Corno.Web.Globals
@using Kendo.Mvc.UI
@model Corno.Web.Areas.BoardStore.Models.Location

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@{
    ViewBag.BoxTitle = "Location";
}
@{
    ViewBag.Index = "Index";
    ViewBag.Create = "Create";
    ViewBag.Edit = "Edit";
    ViewBag.Details = "Details";
    ViewBag.Delete = "Delete";
}

@{
    Page.Title = "Location";

    ViewBag.MainHeader = "Location";
    ViewBag.MainMenu = "BoardStore";
    ViewBag.Controller = "Location";
    ViewBag.AddNewMethod = "Create";
    ViewBag.CurrentLink = "Location";
}

@*@Html.Partial("Partials/_MasterIndex", Model)*@

@using Corno.Web.Helper

<div class="grid-container-full-height">
    @(Html.Kendo().Grid<Location>()
        .Name("grid")
        .ApplyIndexSettings() // 👈 Apply index settings (full height, responsive)
        .Events(events => events.ApplyCommonEvents())
    .Columns(columns =>
    {
        columns.Bound(m => m.Id)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Id")
            .Width(20);
        columns.Bound(m => m.BayId)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("BayId")
            .Width(20);
        columns.Bound(m => m.Name)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Name")
            .Width(50);
        columns.Bound(m => m.Code)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Code")
            .Width(50);
        columns.Bound(m => m.StockQuantity)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Stock</br>Quantity")
            .Width(50);
        columns.Bound(m => m.CurrentHeight)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Current</br>Height")
            .Width(20);
        columns.Bound(m => m.MaxHeight)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Max</br>Height")
            .Width(20);
        columns.Bound(m => m.MovePriority)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Move</br>Priority")
            .Width(20);
        columns.Bound(m => m.Length)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Length")
            .Width(20);
        columns.Bound(m => m.Width)
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Title("Width")
            .Width(20);
        columns.Bound(m => m.Status).Width(20).Title("Status")
            .HtmlAttributes(new { style = "text-align: center" })
            .ClientTemplate(
                "<span class='badge' style='background-color: " +
                "# if (Status == \"Active\") { #" +
                "green" +
                "# } else if (Status == \"Deleted\") { #" +
                "red" +
                "# } else { #" +
                "transparent" +
                "# } #" +
                "; color: " +
                "# if (Status == \"Active\" || Status == \"Deleted\") { #" +
                "white" +
                "# } else { #" +
                "black" +
                "# } #" +
                "; text-align: center; display: inline-block;'>" +
                "#= Status #</span>"
            )
            .HtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .Width(20);
        columns.Command(command =>
        {
            command.Custom("Edit").Text("")
                .Text("<i class='k-icon k-i-edit k-text-info k-icon-20'></i>")
                .HtmlAttributes(new { @class = "k-grid-edit" })
                .Click("onEditClick");
            // Show only if Status is "Active";
            command.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete  k-text-error")
                .HtmlAttributes(new { @class = "k-grid-view k-text-center !k-justify-content-center" })
                .Click("onDeleteClick");
        })
            .HeaderHtmlAttributes(new { @class = "k-text-center !k-justify-content-center" })
            .HtmlAttributes(new { @class = "k-grid-delete" })
            .Width(30)
            .Title("Actions"); // Add a class to identify the command column;
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("GetIndexViewModels", "Location"))
        .Sort(sort => sort.Add(FieldConstants.Id).Descending()) // Initial sort by Id in ascending order
        .Model(model => model.Id(FieldConstants.Id))
    ))
</div>

<script type="text/javascript">
    function onEditClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '@Url.Action("Edit", "Location")' + '/' + dataItem.Id;
    }

    function onDeleteClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '@Url.Action("Delete", "Location")' + '/' + dataItem.Id;
    }

</script>