@model Corno.Web.Areas.Kitchen.Dto.Label.PartLabelCrudDto

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    
    // Page-level metadata
    ViewBag.BoxTitle = "Create New Part Label";
    ViewBag.SubmitAction = "Create";
    ViewBag.MainMenu = "Transaction";
    ViewBag.MainHeader = "Part Label";
    ViewBag.CurrentSitemap = "Part Label";
    ViewBag.Title = "Part Label";
    ViewBag.Area = "Kitchen";
    ViewBag.Controller = "PartLabel";
    
    // Form-specific configuration
    ViewBag.GetItemsAction = "GetItems";
    ViewBag.PrintAction = "Print";
    ViewBag.PreviewAction = "Preview";
    ViewBag.PrintPath = "/Kitchen/PartLabel/Print";
    ViewBag.PreviewPath = "/Kitchen/PartLabel/Preview";
}

@section sectionBaseFooter
{
    <div class="k-actions k-actions-horizontal k-actions-end">
        @Html.Partial("Buttons/_BackButton")
        @Html.Partial("Buttons/_PreviewButton")
        @Html.Partial("Buttons/_PrintButton")
    </div>
}

@Html.Partial("~/Areas/Kitchen/Views/Shared/_PartLabel.cshtml", Model)