@using Corno.Web.Areas.Kitchen.Dto.Carton
@using Corno.Web.Globals
@using Corno.Web.Helper
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.BoxTitle = "Rack Out";
}

<div class="grid-container-full-height">
    @(Html.Kendo().Grid<CartonIndexDto>()
        .Name("grid")
        .ApplyIndexSettings() // 👈 Apply index settings (full height, responsive)
        .AddExportToolBar(enableExcel: true, enablePdf: true, enableSearch: true, customToolbar: toolbar =>
        {
            toolbar.Custom()
                .Text("<span class='k-icon k-i-plus'></span> Add New")
                .HtmlAttributes(new { @class = "k-grid-add-new k-button-add-new-outlined", style = "float: right;", onclick = $"window.location.href='{Url.Action("Create", "RackOut")}'; return false;" });
        })
        .Events(events => events.ApplyCommonEvents())
        .Columns(columns =>
        {
            columns.Bound(m => m.WarehouseOrderNo).Align(TextAlign.Left).Title("Warehouse Order");
            columns.Bound(m => m.CartonNo).Align(TextAlign.Left).Title("Carton<br/>No");
            columns.Bound(m => m.PackingDate).Format("{0:dd/MM/yyyy hh:mm tt}");
            columns.Bound(m => m.SoNo);
            columns.Bound(m => m.CartonBarcode).Align(TextAlign.Left);
            columns.AddStatusColumn();
        })
        .DataSource(dataSource => dataSource
            .ApplyCommonDataSourceSettings("GetIndexViewDto", "RackOut", "Kitchen")
            .Group(group => { group.AddDescending(g => g.WarehouseOrderNo); })
            .Sort(s => s.Add(FieldConstants.Id).Descending())
            .Model(model => model.Id(FieldConstants.Id))
        ))
</div>

<script type="text/javascript">
    function sendData() {
    }
</script>