@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}


@*<h3><i class="fa fa-file-pdf"></i> @ViewBag.Title</h3>*@
<div class="w-100" style="height: 1200px">
    @Html.Partial("Partials/ReportViewer_Html5", "reportViewerReport")
</div>



