<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://umeshkale-001-site1.mtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1245.site4now.net:8172/msdeploy.axd?site=umeshkale-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>umeshkale-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>umeshkale-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CornoContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab0164_admin;Persist Security Info=True;User ID=db_ab0164_admin_admin;Password=universal1!;MultipleActiveResultSets=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CornoContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Password=universal1!;Persist Security Info=True;User ID=db_ab0164_admin_admin;Initial Catalog=db_ab0164_admin;Data Source=SQL1001.site4now.net;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CornoContext-Web.config Connection String" />
  </ItemGroup>
</Project>