<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://demo.cornosystems.co.in/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1245.site4now.net:8172/msdeploy.axd?site=umeshkale-001-subsite4</MSDeployServiceURL>
    <DeployIisAppPath>umeshkale-001-subsite4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>umeshkale-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Corno.Web.Windsor.Context.BaseDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Web.Windsor.Context.BaseDbContext, Corno.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Corno.Web.Windsor.Context.CornoDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Web.Windsor.Context.CornoDbContext, Corno.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Corno.Web.Windsor.Context.ErpDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Web.Windsor.Context.ErpDbContext, Corno.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CornoContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Web.Models.ApplicationDbContext, Corno.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Corno.Web.Windsor.Context.BaseDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Corno.Web.Windsor.Context.CornoDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Corno.Web.Windsor.Context.ErpDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CornoContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Corno.Web.Windsor.Context.BaseDbContext" />
    <_ConnectionStringsToInsert Include="Corno.Web.Windsor.Context.CornoDbContext" />
    <_ConnectionStringsToInsert Include="Corno.Web.Windsor.Context.ErpDbContext" />
  </ItemGroup>
</Project>