@using Corno.Web.Globals
@using Corno.Web.Helper
@using Kendo.Mvc.UI
@model Corno.Web.Areas.DemoProject.Dtos.SalesInvoiceDto

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@{
    ViewBag.Title = "Edit Sales Invoice";
    ViewBag.BoxTitle = "Edit Sales Invoice";
    ViewBag.SubmitAction = "Edit";
}

@{
    ViewBag.MainMenu = "DemoProject";
    ViewBag.MainHeader = "Sales Invoice";
    ViewBag.CurrentSitemap = "Sales Invoice";
    ViewBag.Title = "Sales Invoice";
    ViewBag.Area = "DemoProject";
    ViewBag.Controller = "SalesInvoice";
}

@section sectionBaseHeader
{
    <div class="k-card-actions k-actions-horizontal k-actions-end">
        @Html.Partial("~/Areas/DemoProject/Views/SalesInvoice/_SalesInvoiceHeaderButtons.cshtml")
    </div>
}

@Html.Partial(@"~\Areas\DemoProject\Views\SalesInvoice\_SalesInvoice.cshtml", Model)

<script>
    // Preview and Print functions are defined in _SalesInvoice.cshtml
    // No additional logic needed for Edit page
</script>
