@model Corno.Web.Areas.Masters.Dtos.Product.ProductDto

@using Corno.Web.Extensions
@using Corno.Web.Globals
@using Kendo.Mvc.UI

<div class="row">
    <!-- Mrp Column -->
    <div class="col-12 col-sm-6">
        <div class="form-group row">
            @Html.LabelFor(m => m.Mrp, "Mrp :", new { @class = "col-12 col-sm-2" }) 
            <div class="col-12 col-sm-10"> 
                @(Html.Kendo().NumericTextBoxFor(m => m.Mrp)
                    .HtmlAttributes(new { @class = "w-100" }))
            </div>
        </div>
        <br />
    </div>

    <!-- SalePrice Column -->
    <div class="col-12 col-sm-6">
        <div class="form-group row">
            @Html.LabelFor(m => m.SalePrice, "Rate :", new { @class = "col-12 col-sm-2" })
            <div class="col-12 col-sm-10"> 
                @(Html.Kendo().NumericTextBoxFor(m => m.SalePrice)
                    .HtmlAttributes(new { @class = "w-100" }))
            </div>
        </div>
        <br />
    </div>
</div>