@model Corno.Web.Areas.Masters.Dtos.Product.ProductDto
@using Kendo.Mvc.UI

<div class="row">
    @(Html.Kendo().Grid(Model.ProductPacketDtos)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id)
                .ClientTemplate("<input type='hidden' name='ProductPacketDtos[#= index(data)#].Id' value='#= Id #' />")
                .Hidden();
            columns.Bound(p => p.PackingTypeId)
                .ClientTemplate("#= PackingTypeName  #" +
                                "<input type='hidden' name='ProductPacketDtos[#= index(data)#].PackingTypeId' value='#= PackingTypeId #' />")
                //.EditorViewData(new { DataSource = miscMasterService.GetViewModelList() })
                //.EditorTemplateName(@"/Corno/MultiColumnComboBoxInt")
                //.EditorTemplateName(@"/Subject/_CategoryComboBox")
                .HtmlAttributes(new { style = "text-align:left;" })
                .Width(180);
            columns.Bound(p => p.Quantity).Title("Quantity")
                .ClientTemplate("#= Quantity #" +
                                "<input type='hidden' name='ProductPacketDtos[#= index(data)#].Quantity' value='#= Quantity #'   />")
                .HtmlAttributes(new { style = "text-align:right;" })
                //.EditorTemplateName("Number")
                .Width(50);
            /*columns.Bound(p => p.Quantity)
                .ClientTemplate("<input type='hidden' name='ProductPacketDtos[#= index(data)#].Quantity' value='#= Quantity #' />")
                .Width(120);*/
            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
                command.Custom("Print")
                    .Click("onPrintBom")
                    .Text("Print")
                    .IconClass("k-icon k-i-print")
                    .HtmlAttributes(new { @class = "k-button k-button-solid k-button-solid-success" });
            }).Width(200);
        })
        .ToolBar(toolbar => toolbar.Create())
        //.Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
        .Editable(editable => editable.Mode(GridEditMode.PopUp)
            .TemplateName("/Product/_PacketPopup"))
        .Pageable()
        .Filterable(f => f.Mode(GridFilterMode.Row))
        .Sortable()
        .Scrollable()
        //.HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Events(events => events.Error("error_handler"))
            //.Model(model => model.Id(p => p.Id))
            .Model(model =>
            {
                model.Id(p => p.Id);
                model.Field(p => p.Quantity).DefaultValue(0);
            })
            .Create(update => update.Action("Inline_Create_Update_Destroy_Packet", "Product", new { area = "Masters" }))
            .Update(update => update.Action("Inline_Create_Update_Destroy_Packet", "Product", new { area = "Masters" }))
            .Destroy(update => update.Action("Inline_Create_Update_Destroy_Packet", "Product", new { area = "Masters" }))
        ))
</div>
