@* Views/Shared/_GlobalLoader.cshtml *@
<div id="globalLoaderWrapper" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
     background-color: rgba(255,255,255,0.5); z-index: 9999; display: none;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        @(Html.Kendo().Loader()
            .Name("globalLoader")
            .Size(LoaderSize.Large)
            .ThemeColor(LoaderThemeColor.Primary)
            .Visible(true)
        )
    </div>
</div>