@model Corno.Web.Areas.Masters.Dtos.Location.LocationDto
@using Kendo.Mvc.UI

<div class="row">
    @(Html.Kendo().Grid(Model.LocationItemDetails)
        .Name("gridItem")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id)
                .ClientTemplate("<input type='hidden' name='LocationItemDetails[#= index(data, 'gridItem')#].Id' value='#= Id #' />")
                .Hidden();
            columns.Bound(p => p.ItemId)
                .ClientTemplate("#= ItemName  #" +
                                "<input type='hidden' name='LocationItemDetails[#= index(data, 'gridItem')#].ItemId' value='#= ItemId #' />")
                .Width(180);
            columns.Bound(p => p.ProductId)
                .ClientTemplate("#= ProductName  #" +
                                "<input type='hidden' name='LocationItemDetails[#= index(data, 'gridItem')#].ProductId' value='#= ProductId #' />")
                .Width(180);
            columns.Bound(p => p.MaxQuantity).Title("Max Quantity")
                .ClientTemplate("#= MaxQuantity #" +
                                "<input type='hidden' name='LocationItemDetails[#= index(data, 'gridItem')#].MaxQuantity' value='#= MaxQuantity #'   />")
                .EditorTemplateName("Number")
                .Width(50);
            columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            }).Width(100);
        })
        .ToolBar(toolbar => toolbar.Create())
        //.Editable(editable => editable.Mode(GridEditMode.InLine))
        .Editable(editable => editable.Mode(GridEditMode.PopUp)
            .TemplateName("/Location/_ItemPopup"))
        .Sortable()
        .Filterable(f => f.Mode(GridFilterMode.Row))
        .Pageable()
        .Scrollable()
        //.Events(events => events.Edit("onEdit"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Events(events => events.Error("error_handler")
            /*.Change("onChange")*/)
            //.GroupPaging(true)
            //.Group(x => x.Add(y => y.PackingType.Name))
            .Model(model =>
            {
                model.Id(p => p.Id);
                /*model.Field(p => p.ItemId);
                model.Field(p => p.Quantity).DefaultValue(0);*/
            })
            .ServerOperation(false)
            .Create(update => update.Action("Inline_Create_Item", "Location"))
            .Update(update => update.Action("Inline_Create_Item", "Location"))
            .Destroy(update => update.Action("Inline_Create_Item", "Location"))
        )
        .Resizable(resize => resize.Columns(true))
        .Reorderable(reorder => reorder.Columns(true))
        )
</div>